<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center">Create Deposit</h3>
      <hr />
      <div class="card-body">
        <div class="form-group">
          <div class="form-group">
            <label>Deposit name</label>
            <input type="text" class="form-control" [(ngModel)]="depositName"
                   name="depositName"/>
          </div>
          <div class="form-group">
            <label>Value</label>
            <input type="text" class="form-control" [(ngModel)]="depositValue"
                   name="depositValue"/>
          </div>
          <div class="form-group">
            <label>Percent, %</label>
            <input type="text" class="form-control" [(ngModel)]="depositPercent"
                   name="depositPercent"/>
          </div>
          <div class="form-group">
            <label>Currency</label>
            <input type="text" class="form-control" [(ngModel)]="depositCurrency"
                   name="depositCurrency"/>
          </div>
          <br />
          <button class="btn btn-success" (click)="addDeposit(depositName,depositValue,depositPercent,depositCurrency)">Create</button>
      </div>
    </div>
  </div>
</div>
</div>
