<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="home-page" class="nav-link" routerLinkActive="active">Main page</a>
    </li>
    <div *ngIf="isLoginAdmin; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <li class="nav-item">
        <button class="nav-link" routerLink="admin-page" routerLinkActive="active">Admin control</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="home-page" routerLinkActive="active" (click)="removeUser()">Logout</button>
      </li>
    </ng-template>
    <ng-template #elseBlock>
      <div *ngIf="isLoginUser; then thenPart else elsePart"></div>
      <ng-template #thenPart><li class="nav-item">
        <button class="nav-link" routerLink="home-page" routerLinkActive="active">Home</button>
      </li>
        <li class="nav-item">
          <button class="nav-link" routerLink="transactions" routerLinkActive="active">Transactions</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" routerLink="home-page" routerLinkActive="active" (click)="removeUser()">Logout</button>
        </li>
        </ng-template>
      <ng-template #elsePart>
        <li class="nav-item">
          <a routerLink="login-page" class="nav-link" routerLinkActive="active">Login</a>
        </li>
      </ng-template>
    </ng-template>
  </ul>
</nav>-->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="home-page" class="nav-link" routerLinkActive="active">Main page</a>
    </li>
    <div *ngIf="global.currentUser; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <li class="nav-item">
        <button class="nav-link" routerLink="transactions" routerLinkActive="active">Transactions</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="deposits" routerLinkActive="active">Deposits</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="home-page" routerLinkActive="active" (click)="removeUser()">Sign out</button>
      </li>
    </ng-template>
    <ng-template #elseBlock>
      <li class="nav-item">
        <button class="nav-link" routerLink="reg-page" routerLinkActive="active">Sign up</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" routerLink="login-page" routerLinkActive="active">Sign in</button>
      </li>
    </ng-template>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">Personal finance assistant</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Authored by Fomin Sergey</span>
  </div>
</footer>

