<div>
  <input text="text" [(ngModel)] = "login" name="login"/>
  <button (click)=getUserByLogin(login)>Find user by login</button>
    <p>User's last name: {{user?.lastName}}</p>
    <p>User's first name: {{user?.firstName}}</p>
    <p>User's login: {{user?.login}}</p>
</div>
<div>
  <input text="number" [(ngModel)]="id" name="id"/>
  <button (click)="getUserById(id)">Find user by id</button>
    <p>User's last name: {{user?.lastName}}</p>
    <p>User's first name: {{user?.firstName}}</p>
    <p>User's login: {{user?.login}}</p>
</div>
<div>
  <button (click)="getAllUsers()">Find all users</button>
  <ul>
    <li *ngFor="let elem of userArray">
      <p>User's number: {{elem?.id}}</p>
      <p>User's last name: {{elem?.lastName}}</p>
      <p>User's first name: {{elem?.firstName}}</p>
      <p>User's login: {{elem?.login}}</p>
    </li>
  </ul>
</div>

